{% extends 'layout.html' %} 
  {% block content %}
        <h1 class="display-5 m-3">Recent Tweets:</h1>
        <div class="row">
            <div class="col-sm">
            {% for data in tweets %}
                <div class="card w-100 m-1 mt-2">
                    <div class="card-body">
                        <p class="lead">{{data.Tweet}}</p>
                        <a href="./delete?_id={{ data['id'] }}">
                            <button class="btn btn-danger m-2" type="submit">Delete</button>
                        </a>
                        <a href="./update1?_id={{ data['id'] }}">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updatetweet">Update</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm">
            <form action="/tweets" method="POST">
                    <div class="form-group m-3 mt-5">
                      <input type="text" class="w-75 form-control" name="tweet" placeholder="Tweet">
                    <button class="btn btn-primary mt-3 p-2 px-4" type="submit">tweet <i class="ml-2 fab fa-twitter"></i></button>
                </div>
            </form>
        </div>    
    </div>
    {% endblock content%}